extends base

block content  
  main.main
    .forgot-password-form
      h2.heading-secondary.ma-bt-lg Forgot password
      form(action="/reset-password", method="POST")
        .form__group
          label.form__label(for='email') Enter your email address:
          input#name.form__input(type="email", name="email", required)
        .form__group
          button.btn.btn--green.btn--forgot-password(type="submit") Send reset mail
        