extends base

block content
  main.main
    .reset-password-form
      h2.heading-secondary.ma-bt-lg Reset password
      form(action="/reset-password", method="POST" data-reset-token=resetToken)
        .form-group
          label.form__label(for="password") New password:
          input#password.form__input(type="password", name="password", required)
        .form-group
          label.form__label(for="confirmPassword") Confirm password:
          input#confirm-password.form__input(type="password", name="confirmPassword", required)
        .form__group
          button.btn.btn--green.btn--reset-password(type="submit") Reset password